.container {
    margin-bottom: 10px;
    margin-top: 50px;
}

#hour,
#minutes,
#seconds {
    font-size: 50px;
    height: 100px;
    width: 100px;
    border: none;
    background-color: rgb(147, 211, 189);
    font-family: monospace;
    border-radius: 10%;
}

b {
    font-size: 35px;
    font-family: monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start-btn,
#stop-btn,
#reset-btn,
#save-btn {
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 10%;
    background-color: salmon;
    margin: none;
    color: white;
    font-family: monospace;
}

.button {
    transition-duration: 0.4s;
}

#start-btn:hover {
    background-color: rgb(147, 211, 189);
    color: black;
}

#stop-btn:hover {
    background-color: rgb(147, 211, 189);
    color: black;
}

#save-btn:hover {
    background-color: rgb(147, 211, 189);
    color: black;
}

#reset-btn:hover {
    background-color: rgb(147, 211, 189);
    color: black;
}

#list-of-time {
    font-size: 20px;
    height: 20px;
    border: none;
    font-family: monospace;
}